@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

.contact{
    background-color: #13181E;
}
.contact-main{
    background: #13181E;
    padding: 30px 0px;
}
.contact-line{
    max-width: 20%;
    border: 1.5px solid #fff;
}
.contact-head{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 26px;
color: #fff;
}
.contact-form{
    text-align: center;
    padding-top: 3rem;
}
.con-mail{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
color: #4072AF;
border-radius: 4px;
border: 2px solid #4072AF;
padding: 8px 17px;
background: #0B0E14;
}
.social-holder-contact{
    margin-top: 4rem;
    text-align: center;
}
::placeholder{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
color: #000;
}
.input{
    background-color: #cccbcb;
    color: #000;
}
.con-br{
    display: none;
}
.card-body{
    text-align: center;
}
@media screen and (max-width:480px) {
    .con-br{
        display: block;
    }
    .contact-form{
        padding-top: 1.5rem;
    }
    .mobi-dis{
        display: block;
    }
    .extra{
        margin-left: 2.3rem;
    }
    .contact-head{
        text-align: center;
    }
    .contact-line{
        max-width: 100%;
    }
}
@media screen and (min-width:481px) and (max-width:575px) {
    .con-br{
        display: block;
    }
    .contact-form{
        padding-top: 1.5rem;
    }
    .mobi-dis{
        display: block;
    }
    .extra{
        margin-left: 2.6rem;
    }
    .contact-head{
        text-align: center;
    }
    .contact-line{
        max-width: 100%;
    }
}
@media screen and (min-width:576px) and (max-width:767px){
    .extra{
        margin-top: 1.5rem;
        margin-left: 3rem;
    }
}