@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');

:root{
    --bs-light-rgb:#1b1e1f;
    --bs-navbar-color:#ffffff;
}
.offcanvas-title{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
}
.offcanvas{
    --bs-offcanvas-bg:#1b1e1f;
    --bs-offcanvas-color:#fff;
}
.navbar{
    --bs-navbar-color:#ffffff;
    --bs-navbar-toggler-icon-bg:url(../../Image/hamburger.png);
    --bs-navbar-toggler-border-color:#1b1e1f;
}
.btn-close{
    background:url(https://p1.hiclipart.com/preview/688/784/997/close-icon-basic-ui-set-icon-flag-of-scotland-white-data-black-line-symbol-png-clipart.jpg);
    opacity: 0;
}
.test{
    display: block;
}
.top{
    margin: right;
}
.me{
    margin: auto;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #646464;
}
.connect{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #646464;
}
.box{
    padding: 10px 15px 0px 15px;
    background: #181A1B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.09);
color:#ffffff;
border-radius: 8px;
}
.box:hover{
    background: #4072AF;
    color:#ffffff
}
.mail{
    padding: 7px 15px 0px 15px;
    color:#ffffff;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.13);
border-radius: 50%;
}
.mail:hover{
    background: #4072AF;
    color: #fff;
}
.boxOne{
    width: 50%;
    height: 500px;
    background: #272a2c;
    position: relative;
}
.hold{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-20%, -50%);
}
.boxTwo{
    width: 50%;
    height: 500px;
    background: #6895AE;
    background-image: url(../../Image/HomeImage.png);
    background-size: 100% 100%;
}
.row-home{
    margin-top: 2rem;
    margin-bottom:2rem;
}
.home-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    color: #cbc6bf;
}
.home-front{
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #cbc6bf;

}
.home-button{
    margin-top:30px;
    padding: 8px 40px 8px 40px;
    background: #4072AF;
}
.scroll{
    position: fixed;
    top: 17rem;
    right: 50px;
}
.icons{
    font-size: 40px;
    color: #cbc6bf;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
}
.icon-holder{
    margin-top: 40px;
}
.home-social-icons{
    color: #4072AF;
    font-size: 30px;
}
.home-social-holder{
    margin-top: 50px;
}
@media screen and (max-width:575px) {
    .boxOne{
        width: 100%;
        height: 430px;
    }
    .boxTwo{
        width: 100%;
        height: 380px;
    }
    .home-text{
        font-size: 45px;
    }
    .home-button{
        margin-top: 20px;
    }
    .hold{
        text-align: center;
    }
    .scroll{
        display: none;
    }
    .social-holder{
        display: none;
    }
}
@media screen and (max-width:800px) {
    
}