@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400&display=swap');

.portfolio-line{
    width: 13rem;
    border: 1.5px solid #fff;
}
.portfolio-head{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 26px;
color: #fff;
}
.portfolio-text{
    font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
color: #fff;
}
.social-icons{
    color: #4072AF;
    font-size: 30px;
}
.social-holder{
    margin-top: 50px;
}
.scroll{
    position: fixed;
    top: 17rem;
    right: 50px;
}
.port{
    background: #272A2C;
    padding: 3rem 0rem;
}
.port-card{
    background-color: #102d4d;
    color: #fff;
    border: none;
}
.port-btn{
    background: #4072AF;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color:#fff;
        border: 2px solid #4072AF;
        padding: 7px 20px 7px 20px;
}
@media screen and (max-width:575px) {
    .scroll{
        display: none;
    }
    .social-holder{
        display: none;
    }
    .port-col{
        margin-top: 1.5rem;
    }

}
/* @media screen and (min-width:480px) {
    .card-title{
        font-size: 16px;
    }
    .port-btn{
        font-size: 12px;
    }
} */